---
version: 3

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--pre'

options:
  package_manager_path: /usr/bin/microdnf

dependencies:
  python_interpreter:
    python_path: "/usr/bin/python3"
    package_system: "python3"
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner

  galaxy:
    collections:
      - community.vmware
      - a10.acos_axapi
      - community.network
      - paloaltonetworks.panos

images:
  base_image:
    name: registry.redhat.io/ansible-automation-platform-26/ee-minimal-rhel9:latest
