---
# Título: Playbook para crear un nuevo repositorio, su webhook y notificar
# Ejecutable desde AAP/AWX
- name: Crear nuevo repositorio, webhook y notificar
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    crc_url_api_client: "https://api.crc.testing:6443"
    crc_user: "kubeadmin"
    crc_validate_certs: false
    gitea_username: "lab-user"
    gitea_password: "lab-user"
    gitea_validate_certs: false

    awx_host: awx-demo-awx.apps-crc.testing
    awx_user: admin
    awx_password: admin

    token_user: "devops_user"
    token_scope: "write"

    ca_filename: crc-router-ca.crt
    configmap_name: gitea-custom-ca

  tasks:

    - name: 
      shell: "oc login -u {{crc_user}} {{crc_url_api_client}}"

    - name: 
      shell: oc whoami --show-token
      register: token

    - name: Install AWX Operator
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        api_key: "{{ token.stdout }}"
        validate_certs: "{{crc_validate_certs}}"
        definition: "{{ lookup('kubernetes.core.kustomize', dir='awx/') }}"
      register: step2

    - name: Install EDA AWX Operator
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        api_key: "{{ token.stdout }}"
        validate_certs: "{{crc_validate_certs}}"
        definition: "{{ lookup('kubernetes.core.kustomize', dir='awx-eda/') }}"
      register: step3

    - name: Wait for application deployment to stabilize (sleep 5m)
      ansible.builtin.pause:
        minutes: 3
      when: step2.changed or step3.changed

    - name: Install Gitea Operator
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        validate_certs: "{{ crc_validate_certs }}"
        api_key: "{{ token.stdout }}"
        definition: "{{ lookup('kubernetes.core.kustomize', dir='../repository-gitea-for-labs/gitea/') }}"
      register: step1
      until: step1.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')
      retries: "10"
      delay: "15"

    - name: Report Operator Status
      ansible.builtin.debug:
        msg: "{{step1.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')}}"

    - name: Get ClusterServiceVersion (CSV) status
      kubernetes.core.k8s_info:
        api_version: operators.coreos.com/v1alpha1
        kind: ClusterServiceVersion
        name: "{{step1.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')}}"
        namespace: "gitea-operator"
      register: csv_status_check
      until: csv_status_check.resources| json_query('[?status.phase]| [0].status.phase') == "Succeeded"
      retries: "10"
      delay: "15"

    - name: Report Operator Status
      ansible.builtin.debug:
        msg: "{{csv_status_check.resources| json_query('[?status.phase]| [0].status.phase')}}"

    - name: Install DevSpaces Operator
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        api_key: "{{ token.stdout }}"
        validate_certs: "{{crc_validate_certs}}"
        src: "../devspaces/devspace.yaml"
      register: step2
      until: step2.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')
      retries: "10"
      delay: "15"

    - name: Report Operator Status
      ansible.builtin.debug:
        msg: "{{step2.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')}}"

    - name: Get ClusterServiceVersion (CSV) status
      kubernetes.core.k8s_info:
        api_version: operators.coreos.com/v1alpha1
        kind: ClusterServiceVersion
        name: "{{step2.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')}}"
        namespace: "devspace"
      register: csv_status_check
      until: csv_status_check.resources| json_query('[?status.phase]| [0].status.phase') == "Succeeded"
      retries: "10"
      delay: "15"

    - name: 2. Create ConfigMap in Gitea Namespace from Local File
      # Create the ConfigMap using the definition argument and file lookup
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: gitea
      # The ConfigMap will contain the key 'ca-bundle.crt' with the certificate content
      # This task implicitly handles base64 encoding/decoding if the lookup works correctly

    - name: Create Gitea custom app.ini ConfigMap for Webhook Bypass (Insecure)
      kubernetes.core.k8s:
        state: present
        namespace: "gitea" # Define this variable in your playbook or vars file
        definition:
          apiVersion: v1
          kind: ConfigMap
          metadata:
            name: gitea-custom-app-ini
          data:
            # 'lookup' reads the content of the local file and sets it under the 'app.ini' key
            app.ini: "{{ lookup('file', '../repository-gitea-for-labs/gitea/webhook_config.ini') }}"

    - name: Install Gitea Instance
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        api_key: "{{ token.stdout }}"
        validate_certs: "{{crc_validate_certs}}"
        src: ../repository-gitea-for-labs/gitea/gitea.yaml
      register: step4
      
    - name: ✅ Wait for the URL to be available (HTTP 200)
      ansible.builtin.uri:
        url: "https://simple-gitea-ocs-gitea.apps-crc.testing/"
        method: GET
        status_code: 200 # The desired HTTP status code
        validate_certs: false # Set to true if using proper SSL/TLS certificates
      register: app_status_check
      until: app_status_check.status == 200
      retries: "10"
      delay: "15"
      delegate_to: localhost

    - name: Install AWX Instance
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        api_key: "{{ token.stdout }}"
        validate_certs: "{{crc_validate_certs}}"
        src: awx/awx-demo.yaml
      register: step5
      
    - name: ✅ Wait for the URL to be available (HTTP 200)
      ansible.builtin.uri:
        url: "https://awx-demo-awx.apps-crc.testing/"
        method: GET
        status_code: 200 # The desired HTTP status code
        validate_certs: false # Set to true if using proper SSL/TLS certificates
      register: app_status_check
      until: app_status_check.status == 200
      retries: "45"
      delay: "15"
      delegate_to: localhost

    - name: Install EDA AWX Instance
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        api_key: "{{ token.stdout }}"
        validate_certs: "{{crc_validate_certs}}"
        src: awx-eda/eda.yaml
      register: step6
      
    - name: ✅ Wait for the URL to be available (HTTP 200)
      ansible.builtin.uri:
        url: "https://my-eda-ui-eda.apps-crc.testing/"
        method: GET
        status_code: 200 # The desired HTTP status code
        validate_certs: false # Set to true if using proper SSL/TLS certificates
      register: app_status_check
      until: app_status_check.status == 200
      retries: "45"
      delay: "15"
      delegate_to: localhost

    - name: Install Devspaces Instance
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        api_key: "{{ token.stdout }}"
        validate_certs: "{{crc_validate_certs}}"
        src: ../devspaces/devspaces-instance.yaml
      register: step6
      
    - name: ✅ Wait for the URL to be available (HTTP 200)
      ansible.builtin.uri:
        url: "https://devspaces.apps-crc.testing/"
        method: GET
        status_code: 200 # The desired HTTP status code
        validate_certs: false # Set to true if using proper SSL/TLS certificates
      register: app_status_check
      until: app_status_check.status == 200
      retries: "45"
      delay: "15"
      delegate_to: localhost

    # --- 0.3 Gitea PAT Creation (using URI)
    - name: Create PAT in GITEA for lab-user
      ansible.builtin.uri:
        url: "https://simple-gitea-ocs-gitea.apps-crc.testing/api/v1/users/{{ gitea_username }}/tokens"
        method: POST
        body_format: json
        user: "{{ gitea_username }}"
        password: "{{ gitea_password }}"
        force_basic_auth: yes
        body:
          name: "PAT for lab"
          scopes: ["write:repository", "write:issue", "write:activitypub", "write:misc", "write:notification" , "write:organization", "write:package", "write:user"] # Alcance amplio
        status_code: [201]
        validate_certs: "{{crc_validate_certs}}"
      register: pat_creation_result_gitea

    - name: Display the newly created token (SAVE THIS!)
      debug:
        msg: "{{ pat_creation_result_gitea.json.sha1 }}"

