---
- hosts: all
  connection: local
  gather_facts: false
  vars_files:
    - vars/controller_credentials.yaml
    - vars/controller_credential_types.yaml
    - vars/controller_execution_environments.yaml
    - vars/controller_job_templates.yaml
    - vars/controller_projects.yaml
    - vars/controller_settings.yaml
    - vars/controller_workflow_job_templates.yaml
    - vars/controller_inventories.yaml
    - vars/controller_invetories_sources.yaml
    - ../../vaults/vault.yml
  vars:
    controller_configuration_projects_async_retries: 120
    controller_configuration_projects_async_delay: 2
    controller_username: "{{ vault_controller_username | default(lookup('env', 'CONTROLLER_USERNAME')) }}"
    controller_password: "{{ vault_controller_password | default(lookup('env', 'CONTROLLER_PASSWORD')) }}"
    controller_hostname: "{{ vault_controller_hostname | default(lookup('env', 'CONTROLLER_HOST')) }}"
    controller_validate_certs: "{{ vault_controller_validate_certs | default(lookup('env', 'CONTROLLER_VERIFY_SSL')) }}"
    # controller_configuration_secure_logging: false
    cas_secure_logging: false
    workflow_job_templates_secure_logging: false
    controller_configuration_workflow_job_templates_secure_logging: false
    controller_configuration_secure_logging: false
    controller_configuration_groups_secure_logging: false
    no_log: false
    # controller_configuration_workflows_enforce_defaults: false
    # no_log: false

  pre_tasks:
    - name: "Setup authentication (block)"
      block:
        - name: "Get the Authentication Token for the future requests"
          ansible.builtin.uri:
            url: "https://{{ controller_hostname }}/api/v2/tokens/"
            user: "{{ controller_username }}"
            password: "{{ controller_password }}"
            method: POST
            force_basic_auth: true
            validate_certs: "{{ controller_validate_certs }}"
            status_code: 201
          register: authtoken_res

        - name: "Set the oauth token to be used since now"
          ansible.builtin.set_fact:
            controller_oauthtoken: "{{ authtoken_res.json.token }}"
            controller_oauthtoken_url: "{{ authtoken_res.json.url }}"
      when: controller_oauthtoken is not defined
      tags:
        - always
  roles:
    - {role: dispatch}

  post_tasks:
    - name: "Delete the Authentication Token used"
      ansible.builtin.uri:
        url: "https://{{ controller_hostname }}{{ controller_oauthtoken_url }}"
        user: "{{ controller_username }}"
        password: "{{ controller_password }}"
        method: DELETE
        force_basic_auth: true
        validate_certs: "{{ controller_validate_certs }}"
        status_code: 204
      when: controller_oauthtoken_url is defined
...
