---
version: 3

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--pre'

options:
  package_manager_path: /usr/bin/dnf

dependencies:
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  python_interpreter:
    python_path: "/usr/bin/python3"
    package_system: "python3"

  galaxy:
    collections:
      - awx.awx
      - infra.controller_configuration

  system:
    - systemd-devel
    - python3-devel 
    - libxml2-devel 
    - libxslt-devel 
    - gcc
    - python3
    - wget


  python:
    - ansible-core
    - ansible-runner

images:
  base_image:
    name: quay.io/ansible/awx-ee:24.6.1

additional_build_steps:
  prepend_builder:
    - RUN python3 -m pip install --upgrade pip
  append_final:
    - RUN wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
    - RUN chmod +x /usr/local/bin/yq
    - RUN yq --version
