---
version: 3

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--pre'

options:
  package_manager_path: /usr/bin/microdnf

dependencies:
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  python_interpreter:
    python_path: "/usr/bin/python3"
    package_system: "python3"

  galaxy:
    collections:
      - infra.aap_configuration_extended   
      - infra.aap_configuration  
      - ansible.controller
      - ansible.platform
      - ansible.hub
      - ansible.eda

  system:
    - systemd-devel
    - python3-devel 
    - libxml2-devel 
    - libxslt-devel 
    - gcc
    - python3
    - wget


  python:
    - ansible-core
    - ansible-runner

images:
  base_image:
    name: registry.redhat.io/ansible-automation-platform-26/ee-minimal-rhel9:latest

additional_build_steps:
  prepend_galaxy:
    - ENV ANSIBLE_GALAXY_SERVER_LIST=automation_hub_certified,upstream_galaxy
    - ENV ANSIBLE_GALAXY_SERVER_UPSTREAM_GALAXY_URL=https://galaxy.ansible.com/
    - ENV ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_CERTIFIED_URL=https://console.redhat.com/api/automation-hub/content/published/
    - ENV ANSIBLE_GALAXY_CLI_COLLECTION_OPTS=-c
    - ENV ANSIBLE_GALAXY_IGNORE=1
    - ENV ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_CERTIFIED_AUTH_URL=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
    - ARG ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_CERTIFIED_TOKEN
  append_final:
    - RUN wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
    - RUN chmod +x /usr/local/bin/yq
    - RUN yq --version
