---
version: 3

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--pre'

options:
  package_manager_path: /usr/bin/dnf

# additional_build_files:
#   - src: ansible.cfg  # The file in your local directory
#     dest: configs

dependencies:
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  python_interpreter:
    python_path: "/usr/bin/python3.11"
    package_system: "python3.11"

  galaxy:
    collections:
      - name: awx.awx
        version: 24.6.1
  #     # https://galaxy.ansible.com/ui/repo/published/ansible/hub/
  #     - ansible.hub
  #     # https://console.redhat.com/ansible/automation-hub/repo/validated/infra/controller_configuration/
  #     - infra.controller_configuration
  #     # https://console.redhat.com/ansible/automation-hub/repo/published/ansible/controller/
  #     - ansible.controller
  #     # https://galaxy.ansible.com/ui/repo/published/ansible/eda/
  #     # https://console.redhat.com/ansible/automation-hub/repo/published/ansible/eda/
  #     - ansible.eda
  #     # https://console.redhat.com/ansible/automation-hub/repo/validated/infra/eda_configuration/
  #     - infra.eda_configuration
  #     # https://console.redhat.com/ansible/automation-hub/repo/validated/infra/aap_configuration/
  #     - infra.aap_configuration
  #     # https://console.redhat.com/ansible/automation-hub/repo/validated/infra/aap_configuration_extended/
  #     - infra.aap_configuration_extended
  #     # https://console.redhat.com/ansible/automation-hub/repo/validated/infra/aap_utilities/
  #     - infra.aap_utilities
  #     # https://console.redhat.com/ansible/automation-hub/repo/validated/infra/ee_utilities/
  #     - infra.ee_utilities
  #     # https://console.redhat.com/ansible/automation-hub/repo/published/ansible/posix/
  #     - ansible.posix
  #     # https://console.redhat.com/ansible/automation-hub/repo/published/kubernetes/core/
  #     - kubernetes.core
  #     # https://console.redhat.com/ansible/automation-hub/repo/published/redhat/openshift/
  #     - redhat.openshift  
  #     # - galaxy.galaxy

  system:
    - systemd-devel
    - python3.11-devel
    - libxml2-devel 
    - libxslt-devel 
    - gcc
  #   - openldap-devel

  python:
    - ansible-dev-tools==24.12.0
    - gnupg
  #   - python-ldap==3.4.4
  #   - XlsxWriter==3.2.0

images:
  base_image:
    name: quay.io/ansible/awx-ee:24.6.1

additional_build_steps:
  # append_final:
  #   - COPY _build/configs/ansible.cfg /etc/ansible/ansible.cfg
  prepend_builder:
    - RUN python3.11 -m pip install --upgrade pip

# options:
#   skip_ansible_check: true