---
# Título: Playbook para crear un nuevo repositorio, su webhook y notificar
# Ejecutable desde AAP/AWX
- name: Crear nuevo repositorio, webhook y notificar
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    crc_url_api_client: "https://api.crc.testing:6443"
    crc_user: "kubeadmin"
    crc_validate_certs: false
    gitea_username: "lab-user"
    gitea_password: "lab-user"
    gitea_validate_certs: false

    awx_host: example-ansible-automation-platform.apps-crc.testing
    awx_user: admin
    awx_password: admin

    token_user: "devops_user"
    token_scope: "write"

    ca_filename: crc-router-ca.crt
    configmap_name: gitea-custom-ca

  tasks:

    - name: 
      shell: "oc login -u {{crc_user}} {{crc_url_api_client}}"

    - name: 
      shell: oc whoami --show-token
      register: token

    - name: Install AAP Operator
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        api_key: "{{ token.stdout }}"
        validate_certs: "{{crc_validate_certs}}"
        src: automation-platform-install-operator.yaml
      register: step
      until: step.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')
      retries: "10"
      delay: "15"

    - name: Report Operator Status
      ansible.builtin.debug:
        msg: "{{step.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')}}"

    - name: Get ClusterServiceVersion (CSV) status
      kubernetes.core.k8s_info:
        api_version: operators.coreos.com/v1alpha1
        kind: ClusterServiceVersion
        name: "{{step.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')}}"
        namespace: "ansible-automation-platform"
      register: csv_status_check
      until: csv_status_check.resources| json_query('[?status.phase]| [0].status.phase') == "Succeeded"
      retries: "10"
      delay: "15"

    - name: Report Operator Status
      ansible.builtin.debug:
        msg: "{{csv_status_check.resources| json_query('[?status.phase]| [0].status.phase')}}"

    - name: Install Gitea Operator
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        validate_certs: "{{ crc_validate_certs }}"
        api_key: "{{ token.stdout }}"
        definition: "{{ lookup('kubernetes.core.kustomize', dir='../repository-gitea-for-labs/gitea/') }}"
      register: step1
      until: step1.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')
      retries: "10"
      delay: "15"

    - name: Report Operator Status
      ansible.builtin.debug:
        msg: "{{step1.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')}}"

    - name: Get ClusterServiceVersion (CSV) status
      kubernetes.core.k8s_info:
        api_version: operators.coreos.com/v1alpha1
        kind: ClusterServiceVersion
        name: "{{step1.result.results| json_query('[?result.status.currentCSV]| [0].result.status.currentCSV')}}"
        namespace: "gitea-operator"
      register: csv_status_check
      until: csv_status_check.resources| json_query('[?status.phase]| [0].status.phase') == "Succeeded"
      retries: "10"
      delay: "15"

    - name: Report Operator Status
      ansible.builtin.debug:
        msg: "{{csv_status_check.resources| json_query('[?status.phase]| [0].status.phase')}}"

    - name: 2. Create ConfigMap in Gitea Namespace from Local File
      # Create the ConfigMap using the definition argument and file lookup
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: gitea
      # The ConfigMap will contain the key 'ca-bundle.crt' with the certificate content
      # This task implicitly handles base64 encoding/decoding if the lookup works correctly

    - name: Create Gitea custom app.ini ConfigMap for Webhook Bypass (Insecure)
      kubernetes.core.k8s:
        state: present
        namespace: "gitea" # Define this variable in your playbook or vars file
        definition:
          apiVersion: v1
          kind: ConfigMap
          metadata:
            name: gitea-custom-app-ini
          data:
            # 'lookup' reads the content of the local file and sets it under the 'app.ini' key
            app.ini: "{{ lookup('file', '../repository-gitea-for-labs/gitea/webhook_config.ini') }}"

    - name: Install Gitea Instance
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        api_key: "{{ token.stdout }}"
        validate_certs: "{{crc_validate_certs}}"
        src: ../repository-gitea-for-labs/gitea/gitea.yaml
      register: step2
      
    - name: ✅ Wait for the URL to be available (HTTP 200)
      ansible.builtin.uri:
        url: "https://simple-gitea-ocs-gitea.apps-crc.testing/"
        method: GET
        status_code: 200 # The desired HTTP status code
        validate_certs: false # Set to true if using proper SSL/TLS certificates
      register: app_status_check
      until: app_status_check.status == 200
      retries: "10"
      delay: "15"
      delegate_to: localhost

    - name: Install AAP Instance
      kubernetes.core.k8s:
        state: present
        host: "{{ crc_url_api_client }}"
        api_key: "{{ token.stdout }}"
        validate_certs: "{{crc_validate_certs}}"
        src: automation-platform-install-ansible-automation-platform.yaml
      register: step3
      
    - name: ✅ Wait for the URL to be available (HTTP 200)
      ansible.builtin.uri:
        url: "https://example-ansible-automation-platform.apps-crc.testing/api/controller/v2/config/"
        method: GET
        status_code: 401 # The desired HTTP status code
        validate_certs: false # Set to true if using proper SSL/TLS certificates
      register: app_status_check
      until: app_status_check.status == 401
      retries: "45"
      delay: "15"
      delegate_to: localhost

    - name: Create the Access Token for the Application in AAP
      ansible.platform.token:
        gateway_hostname: "{{ awx_host }}"
        gateway_username: "{{ awx_user }}"
        gateway_password: "{{ awx_password }}"
        validate_certs: false
        
        # Link the token to the application
        scope: "write"
        description: "PAT for lab"
        state: present
      register: awx_token

    # 3. Display the sensitive token value (USE WITH CAUTION)
    - name: Display the newly created token (SAVE THIS!)
      ansible.builtin.debug:
        msg: "The application token is: {{ awx_token.ansible_facts.aap_token.token }}"
        # Note: The token value is only returned once upon creation!
        # DO NOT store this in plain text! Use Ansible Vault or a secrets manager.

    - name: Set the license using a file
      ansible.controller.license:
        manifest: "../../manifest_AAP2.5_20251030T211523Z.zip"
        controller_host: "{{ awx_host }}"
        aap_token: "{{ awx_token.ansible_facts.aap_token.token }}"
        # controller_username: "{{ awx_user }}"
        # controller_password: "{{ awx_password }}"
        validate_certs: false
      register: app_status_check
      until: app_status_check  is succeeded
      retries: "15"
      delay: "15"
      delegate_to: localhost

    - name: Add Foo application
      ansible.platform.application:
        gateway_hostname: "{{ awx_host }}"
        gateway_username: "{{ awx_user }}"
        gateway_password: "{{ awx_password }}"
        validate_certs: false
        name: "Prueba"
        description: "Prueba"
        organization: "Default"
        state: present
        authorization_grant_type: password
        client_type: public
        app_url: http://example.com
      register: application

    - name: Display the newly created token (SAVE THIS!)
      debug:
        msg: "{{ application.client_id }}"

    # --- 0.3 Gitea PAT Creation (using URI)
    - name: Create PAT in GITEA for lab-user
      ansible.builtin.uri:
        url: "https://simple-gitea-ocs-gitea.apps-crc.testing/api/v1/users/{{ gitea_username }}/tokens"
        method: POST
        body_format: json
        user: "{{ gitea_username }}"
        password: "{{ gitea_password }}"
        force_basic_auth: yes
        body:
          name: "PAT for lab"
          scopes: ["write:repository", "write:issue", "write:activitypub", "write:misc", "write:notification" , "write:organization", "write:package", "write:user"] # Alcance amplio
        status_code: [201]
        validate_certs: "{{crc_validate_certs}}"
      register: pat_creation_result_gitea

    - name: Display the newly created token (SAVE THIS!)
      debug:
        msg: "{{ pat_creation_result_gitea.json.sha1 }}"


    - name: 3.1 Crear el nuevo repositorio vacío en Gitea (API)
      ansible.builtin.uri:
        url: "https://simple-gitea-ocs-gitea.apps-crc.testing/api/v1/user/repos"
        method: POST
        headers:
          Authorization: "token {{ pat_creation_result_gitea.json.sha1 }}" # <--- USANDO EL NUEVO PAT
        body_format: json
        body:
          name: "Prueba"
          owner: "{{ gitea_username }}"
          private: false
        status_code: [201]
        validate_certs: "{{crc_validate_certs}}"
      register: gitea_create_result

    - name: 3.2 Establecer URL final para Gitea
      ansible.builtin.set_fact:
        repo_final_url: "{{ gitea_create_result.json.html_url }}"
      when: gitea_create_result is succeeded

    - name: 3.3 Crear Webhook en Gitea (API)
      ansible.builtin.uri:
        url: "https://simple-gitea-ocs-gitea.apps-crc.testing/api/v1/repos/{{ gitea_username }}/Prueba/hooks"
        method: POST
        headers:
          Authorization: "token {{ pat_creation_result_gitea.json.sha1 }}" # <--- USANDO EL NUEVO PAT
        body_format: json
        body:
          type: "gogs"
          config:
            url: "https://example-ansible-automation-platform.apps-crc.testing/api/controller/v2/job_templates/7/launch/"
            content_type: "json"
            secret: "{{ awx_token.ansible_facts.aap_token.token }}"
          authorization_header: "Bearer {{ awx_token.ansible_facts.aap_token.token }}"
          events: ["push"]
          active: true
        status_code: [201]
        validate_certs: "{{crc_validate_certs}}"
      when: gitea_create_result is succeeded
